<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar</title>
</head>

<body>
  <nav class="bg-gray-100  text-gray-700   py-6   px-4  fixed top-0 w-full font-semibold  ">
    <div class="max-w-7xl mx-auto">
      <ul class="flex lg:space-x-12 space-x-9  ">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services.hbs">Servises</a></li>
        <li><a href="/rejes.hbs">Contact</a></li>
      </ul>
    </div>
  </nav>

</body>

</html>